<head>
    <link rel="stylesheet" href="/static/form-style.css">
</head>

<body>
    <h2>Create Books</h2>
    <form method="POST" action="/createNewBook" class="/">
        Title <input type="text" name="title"/>
        <br>
        Genre <input type="text" name="genre"/>
        <br>
        PublisherID <input type="text" name="publisher"/>
        <br>
        Year of Publication <input type="text" name="year"/>
        <br>
        Price <input type="text" name="price"/>
        <br>
        <input type="submit">
    </form>
</body>