<head>
    <link rel="stylesheet" href="/static/form-style.css">
</head>

<body>
    <h2>Edit Author Details</h2>
    <form method="POST" action="/updateAuthors">
        Author ID <input type="text" name="id" value="{{author.id}}"/>
        <br>
        First Name <input type="text" name="firstname" value="{{author.firstname}}"/>
        <br>
        Last Name <input type="text" name="lastname" value="{{author.lastname}}"/>
        <br>
        Country of Origin <input type="text" name="origin" value="{{author.origin}}"/>
        <br>
        <input type="submit">
    </form>
</body>